<%= form_for(@edit_song) do |f| %>
    <label>Song Form</label><br>
    <%= f.text_field :name %><br>
    <%= f.number_field :artist_id %><br>
    <%= f.number_field :genre_id %><br>
    <%= f.submit %>
<% end %>